/* A PÁGINA NÃO ROLA */
html, body {
  height: 100%;
  overflow: hidden;
}

/* LAYOUT ABAIXO DO HEADER */
.layout {
  display: flex;
  height: calc(100vh - 70px); /* altura do header */
  
}

/* SIDEBAR FIXO */
app-sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
}

/* CONTEÚDO É A ÚNICA ÁREA QUE ROLA */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 32px;
  background: #f4f7fb;
}
