/* A PÁGINA NÃO ROLA */
:root {
  --header-height: 84px;
}

html, body {
  height: 100%;
  margin: 0;
}


/* LAYOUT ABAIXO DO HEADER */
.layout {
  display: flex;
  height: calc(100vh - var(--header-height)); /* altura do header */
  
}

/* SIDEBAR FIXO */
app-sidebar {
  display: block;
  flex-shrink: 0;
}


/* CONTEÚDO É A ÚNICA ÁREA QUE ROLA */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 32px;
  background: #f4f7fb;
}
